.calendar {
    .calendar-title--box {
        display: flex;
        .calendar-btn {
            font-size: 10px;
            cursor: pointer;
            color: rgb(0, 75, 50);
            border: none;
            background-color: rgb(250, 235, 215);
			&:nth-of-type(1) {
				margin-right: 10px;
			}
			&:nth-of-type(2) {
				margin-left: 10px;
			}
        }

        .calendar-title {
            font-size: 18px;
        }
    }
    thead {
        tr {
            th {
            }
        }
    }
}
