// 共通
* {
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
    font-family: "Zen Old Mincho", serif;
}

body {
    background-color: rgb(250, 235, 215);
    color: rgb(0, 51, 35);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.flex {
    display: flex;
}

// 共通タイトル
.contents {
    overflow: hidden;
    text-align: center;
    .contents-title {
        font-size: 40px;
        position: relative;
        margin-bottom: 100px;
    }
    .contents-title.fade.in {
        &::after {
            content: "";
            overflow: hidden;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 0px;
            height: 1px;
            background-color: rgb(0, 75, 50);
            animation: line_stretch 4s forwards;
        }
    }

}

@keyframes line_stretch {
    0% {
        width: 0px;
    }
    100% {
        width: 600px;
    }
}

// 共通テキスト
.text {
    font-size: 18px;
    margin: 0 0 40px 20px;
}

// 共通ボタン
.btn {
    background-color: rgb(0, 75, 50);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

// 共通フェードイン
.fade {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 0.8s;
}

.fade.in {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

// 時間差フェードイン
.time-fade {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 2s;
}
.time-fade.in {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

// スクロールバー
.bottom-fix--group {
    display: flex;
}

.scroll-arrow {
    position: fixed;
    bottom: 4%;
    right: 2%;
    animation: arrow_move 2s ease-in-out infinite;
    z-index: 999;

    @keyframes arrow_move {
        0% {
            bottom: 1%;
        }
        50% {
            bottom: 2%;
        }
        100% {
            bottom: 1%;
        }
    }

    span {
        position: absolute;
        left: -20px;
        bottom: 10px;
        color: rgb(0, 51, 35);
        font-size: 0.7rem;
        letter-spacing: 0.05em;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: -3px;
        width: 0.5px;
        height: 10px;
        background: rgb(0, 51, 35);
        transform: skewX(-31deg);
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 1px;
        height: 50px;
        background: rgb(0, 51, 35);
    }
}

.reservation-btn {
    position: fixed;
    right: 8%;
    bottom: 1.5%;
    z-index: 999;
    padding: 10px 20px;
    .reserve-btn {
        color: rgb(0, 51, 35);
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        text-decoration: none;
        font-size: 18px;
        border-radius: 0px;
        width: 200px;
        height: 40px;
        position: relative;
        transition: 0.3s;
        background-color: burlywood;
        opacity: .8;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            border: 1px solid rgb(0, 51, 35);
            width: 100%;
            height: 100%;
            transition: 0.3s;
        }

        &::before {
            top: -2px;
            left: -2px;
        }

        &::after {
            top: 2px;
            left: 2px;
        }

        &:hover::before,
        &:hover::after {
            top: 0;
            left: 0;
        }
        &:active::before,
        &:active::after {
            top: 0;
            left: 0;
        }

        &:active {
            background-color: rgb(250, 235, 215);
        }
    }
}
