#reservation {
    .contents {
        .contents-title {
            &::after {
            overflow: hidden;
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 0px;
            height: 1px;
            background-color: rgb(0, 75, 50);
            animation: line_stretch 4s forwards;
            }
        }
    }
    .sub-title {
        font-size: 18px;
        margin-left: 20px;
        display: inline-block;
        vertical-align: middle;
    }
}
