.user-title {
    color: rgb(0, 75, 50);
    text-align: center;
    font-size: 20px;
}

.user-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: rgb(0, 75, 50);
    font-size: 17px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    border: 2px solid rgb(0, 75, 50);
    position: relative;
    transition: 0.3s;
    background-color: #fff;
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        transform-origin: 100% 50%;
        height: 1px;
        width: 11px;
        background-color: rgb(0, 75, 50);
        border-radius: 2px;
        will-change: transform;
    }
    &::before {
        transform: translateY(-50%) rotate(30deg);
    }

    &::after {
        transform: translateY(-50%) rotate(-30deg);
    }

    &:hover {
        transform: scale(1.1);
        &::before {
            animation: arrowAnime01 1s both infinite;
        }

        &::after {
            animation: arrowAnime02 1s both infinite;
        }

    }
	

    @keyframes arrowAnime01 {
        0%,100% {
            transform: translateY(-50%) rotate(30deg);
        }

        50% {
            transform: translate(5px, -50%) rotate(30deg);
        }
    }

    @keyframes arrowAnime02 {
        0%, 100% {
        transform: translateY(-50%) rotate(-30deg);
        }

        50% {
        transform: translate(5px, -50%) rotate(-30deg);
        }
    }
}

#user-auth {
    margin-bottom: 50px;
    .auth {
        background-color: #fff;
        box-shadow: 3px 3px 1px gray;
        margin: 50px auto 0;
        padding: 0 30px;
        border-radius: 5px;
        max-width: 1000px;
        height: 300px;
        .login {
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translate(-50%, -50%);
            margin: 20px;
        }
        .register {
            position: absolute;
            top: 50%;
            right: 30%;
            transform: translate(50%, -50%);
            margin: 20px;
        }
    }
}
